# Defination of Realtek SDR
ACTION=="add", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="2838", SYMLINK+="vdnSDR", OWNER="root", RUN+="/etc/vdn/bin/d1090 &"

